:host {
    input{
        width: 100%;
        border-radius: 10px;
        padding: 10px 5px;
        outline: none;
        color:#fff;
        border-color: #fff;
        background-color: var(--sidebarColor);
    }
    .suggest {
        flex-wrap: wrap;
    
        span {
          background-color: var(--sidebarColor);
          margin-right: 5px;
          padding: 5px 10px;
          color: #fff;
          border: 1px solid #fff;
          margin-top: 10px;
          font-size: .9rem;
          border-radius: 20px;
          cursor: pointer;
    
          &:hover {
            background-color: rgba(var(--sidebarColor), .8);
            color: #fff;
          }
        }
      }
}